<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="assets/css/font.css" />
    <link rel="stylesheet" href="assets/lib/fontawesome/all.min.css" />
    <link rel="stylesheet" href="assets/lib/bootstrap/boostrap-file1.css" />
    <link rel="stylesheet" href="assets/lib/bootstrap/boostrap-file1-1.css" />
    <link rel="stylesheet" href="assets/lib/bootstrap/boostrap-file2.css" />
    <link rel="stylesheet" href="assets/lib/bootstrap/boostrap-file3.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    
    <HeadOutlet />
    <script>
        window.setCookie = function (name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        };

        window.removeCookie = function (name) {
            document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        };

    </script>
</head>

<body class="sb-nav-fixed">
    <Routes />
    <script src="assets/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/lib/chart/Chart.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
