@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger
@using WebApp.Components.Shared

<Header />
<div id="layoutSidenav">
    <NavMenu />
    <div id="layoutSidenav_content">
        @Body
        <Footer />
    </div>
</div>
    