@page "/checklist"
@inject LayoutService LayoutService
@code {
    protected override void OnInitialized()
    {
        var breadcrumb = new List<BreadcrumbItem>
        {
            new BreadcrumbItem { Name = "Dashboard", Url = "/", IsActive = false },
            new BreadcrumbItem { Name = "Checklist", Url = "/checklist", IsActive = true }
        };

        LayoutService.SetTitleAndBreadcrumb("Checklist", breadcrumb);
    }
}

<link rel="stylesheet" href="assets/css/checklist.css" />

<div class="formal-form">
    <div class="fisrtData">
        <b>NHẬT KÝ CÔNG VIỆC BỘ PHẬN IT</b>
        <div class="table-view-1">
                <table><tr>
                    <th>Num 1&nbsp;&nbsp;</th>
                    <th>Num 2&nbsp;&nbsp;</th>
                    <th>Num 3&nbsp;&nbsp;</th>
                    <th>Num 4&nbsp;&nbsp;</th>
                </tr></table>
        </div>
        <div class="table-view-2">
                <table><tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr></table>
        </div>
    </div>
    <div class="NextData1">
        <p>
            Ngày tháng:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>
            / Ca làm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/Ca
            ngày&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
    <div class="NextData2">
        <p>&nbsp;&nbsp;1. Network requiment check</p>
    </div>
    <div class="NextData3">
        <p>Thời gian kiểm tra /</p>
        <table><tr>
            <td>7:00</td>
            <td>9:00</td>
            <td>11:00</td>
            <td>13:00</td>
            <td>15:00</td>
            <td>17:00</td>
        </tr></table>
    </div>
    <div class="NextData4">
        <div class="dup-col">
            <p>Phân loại</p>
            <p>Model</p>
        </div>
        <div class="dup-col">&nbsp;</div>
    </div>
    <div class="NextData5">
        <div class="dup-col">
            <table><tr>
                    <th :colspan="6" class="tab-warning">NETWORK</th>
                    <th class="tab-warning">Internet</th>
                    <td class="tab-warning">Router-1/Router-2</td>
                    <td class="tab-warning" colspan="2">Firewall-1/Firewall-2</td>
                    <th class="tab-warning">SIMAX</th>
                    <td class="tab-warning">NMS FMS NVR WLC UPS</td>
                    <td class="tab-warning">IPScan Firewall</td>
                    <td class="tab-warning">Router-1</td>
                    <td class="tab-warning">Router-2</td>
                    <td class="tab-warning">SIMAX_WAN_SW1</td>
                    <td class="tab-warning">SIMAX_WAN_SW2</td>
                    <td class="tab-warning">SIMAX_CORE1</td>
                    <td class="tab-warning">SIMAX_CORE2</td>
                    <td class="tab-warning">ISE#1 ISE#2</td>
            </tr></table>
        </div>
        <div class="dup-col">
            <table>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="tab-warning">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="NextData6">
        <p>&nbsp;&nbsp;2. Server check</p>
    </div>
    <div class="NextData3">
        <p>Thời gian kiểm tra /</p>
        <table><tr>
            <td>7:00</td>
            <td>9:00</td>
            <td>11:00</td>
            <td>13:00</td>
            <td>15:00</td>
            <td>17:00</td>
        </tr></table>
    </div>
    <div class="NextData4">
        <div class="dup-col">
            <p>Phân loại</p>
            <p>Model</p>
        </div>
        <div class="dup-col">&nbsp;</div>
    </div>
    <div class="NextData7">
        <div class="dup-col">
            <table><tr>
                    <th :colspan="6" class="tab-warning">SERVER</th>
                    <th class="tab-warning">VM</th>
                    <td class="tab-warning">VM ESXI</td>
                    <th class="tab-warning">SIMAX</th>
                    <td class="tab-warning">DB-P</td>
                    <td class="tab-warning">DB-S</td>
                    <td class="tab-warning">Application-P</td>
                    <td class="tab-warning">Application-S</td>
                    <td class="tab-warning">MSG-P</td>
                    <td class="tab-warning">MSG-S</td>
                    <td class="tab-warning">Backuper</td>
                    <td class="tab-warning">Tap Library</td>
                    <th class="tab-warning">Oracle</th>
                    <td class="tab-warning">Ora-arc 1 (Over70%)</td>
                    <td class="tab-warning">Ora-arc 2 (Over70%)</td>
                    <td class="tab-warning">Oradump (Over70%)</td>
                    <th class="tab-warning">Other</th>
                    <td class="tab-warning">EES 0.5</td>
            </tr></table>
        </div>
        <div class="dup-col">
            <table style="width: 100%;">
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="tab-warning">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </table>
        </div>
    </div>
    <div class="NextData6">
        <p>&nbsp;&nbsp;3. Temperature and humidity status</p>
    </div>
    <div class="NextData3">
        <p>Thời gian kiểm tra /</p>
        <table><tr>
            <td>7:00</td>
            <td>9:00</td>
            <td>11:00</td>
            <td>13:00</td>
            <td>15:00</td>
            <td>17:00</td>
        </tr></table>
    </div>
    <div class="NextData8">
        <p style="border-top: 0px">Humidity / Độ ẩm (Over 57%)</p>
        <table><tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr></table>
    </div>
    <div class="NextData8">
        <p>Temperature / Nhiệt độ (Over 25*C)</p>
        <table><tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr></table>
    </div>
    <div class="NextData6">
        <p>&nbsp;&nbsp;4, Log check</p>
    </div>
    <div class="NextData3">
        <p>Thời gian kiểm tra /</p>
        <table><tr>
            <td>7:00</td>
            <td>9:00</td>
            <td>11:00</td>
            <td>13:00</td>
            <td>15:00</td>
            <td>17:00</td>
        </tr></table>
    </div>
    <div class="NextData8">
        <p style="border-top: 0px">Archive Log (Free) (Under 40)</p>
        <table><tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr></table>
    </div>
    <div class="NextData8">
        <p>Users_O (Used) (Over 70)</p>
        <table><tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr></table>
    </div>
    <div class="NextData6">
        <p>&nbsp;&nbsp;5, Monitoring refresh</p>
        <p>Check Monitoring phòng bác Tổng</p>
    </div>
    <div class="NextData6">
        <p>&nbsp;&nbsp;Các công việc khác /</p>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>1</p>
        </div>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>2</p>
        </div>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>3</p>
        </div>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>4</p>
        </div>
    </div>
    <div class="NextData9">
        <div class="col-num">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="BtnEdit">
        <button>Sửa thông tin</button>
    </div>
</div>
